<% layout("/layouts/boilerplates") -%>
<body>
<div class="row mt-3">
   <div class=" col-8 offset-2" >
    <h3>Edit your Listing</h3>

<form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
       <label for="title" class="form-label">Title</label>
       <input type="text" name="listing[title]" value="<%= listing.title %>" class="form-control" required/>
       <div class="invalid-feedback">Title should be valid</div>
      <div class="valid-feedback">Title looks good!</div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
       <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
       <div class="invalid-feedback">Description should be valid</div>
      <div class="valid-feedback">Description looks good!</div>

    </div>
    <div class="mb-3">
      Original Listing Imge
      <br>
      <img src="<%= originalImageUrl %>"/>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Upload New Image</label>
       <input type="file" name="listing[image]"  class="form-control"/>
       <div class="invalid-feedback">Image  should be valid</div>
      <div class="valid-feedback">Image  looks good!</div>
    </div>
    <div class="mb-3">
       <label for="category" class="form-label">Category</label>
       <select name="listing[category]" class="form-control drop-down" required>
      <option value="rooms" <%= listing.category === "rooms" ? "selected" : "" %>>Rooms</option>
      <option value="trending" <%= listing.category === "trending" ? "selected" : "" %>>Trending</option>
      <option value="mountain" <%= listing.category === "mountain" ? "selected" : "" %>>Mountain</option>
      <option value="iconic cities" <%= listing.category === "iconic cities" ? "selected" : "" %>>Iconic Cities</option>
      <option value="Amozing Pools" <%= listing.category === "Amozing Pools" ? "selected" : "" %>>Amazing Pools</option>
      <option value="castel" <%= listing.category === "castel" ? "selected" : "" %>>Castel</option>
      <option value="farms" <%= listing.category === "farms" ? "selected" : "" %>>Farms</option>
      <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>Camping</option>
      <option value="done" <%= listing.category === "done" ? "selected" : "" %>>Done</option>
      <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>Arctic</option>
      <option value="boat" <%= listing.category === "boat" ? "selected" : "" %>>Boat</option>
    </select>

       <div class="invalid-feedback">Image  should be valid</div>
      <div class="valid-feedback">Image  looks good!</div>
    </div>
   
    <div class="row ">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
       <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control" required/>
        <div class="invalid-feedback">Price should be valid</div>
      <div class="valid-feedback">Price looks good!</div>
    </div>
     <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
       <input type="text" name="listing[country]" value="<%= listing.country %>" class="form-control" required/>
      <div class="invalid-feedback">Contry should be valid</div>
      <div class="valid-feedback">Contry looks good!</div>
    </div>
     </div>
    <div class="mb-3">
         <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control" required/>
        <div class="invalid-feedback">Location should be valid</div>
      <div class="valid-feedback">Location looks good!</div>
    </div>

   
    
    <button class="btn btn-dark edit-btn mt-3">Update</button>
</form>
</div> 
</div>
</body>



